* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-group {
    display: flex;
}

.right-group {
    display: flex;
}